{% extends "layout.html" %}
{% import "helpers/forms.html" as forms %}
{% block title %}Welcome to Content Mapper !{% endblock %}
{% block content %}
{{ super() }}

<div class='container' style='width:65%;max-height:100%;float:left;border:1px solid;overflow-y:scroll;border-color:maroon;padding:1%;background-color:azure'>  
<form action="/section" method="POST">
<fieldset>
<legend><strong>Add a new SectionTitle</strong></legend>
<div style='width:100%'>
{{ forms.render(section_form) }}

<p><input type="Submit" value="Save Section"></p></div>
</fieldset>
</form>


<form action="/sectioncontent" method="POST">
<fieldset>
<legend><strong>Section Content </strong></legend>
{{ forms.render(sc_form) }}



<input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck" style='display-inline;'>Docs
<div id="ifYes" style="visibility:hidden;">
    <form action="/docs"  method="POST">
        <fieldset >
        <legend><strong>Add Docs</strong></legend>
        {{ forms.render(doc_form) }}
        <!-- <p><input type="Submit" value="Save Docs"></p> -->
        </fieldset>
    </form>    
</div>

<input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck" style='display-inline;'>Gaps
<div id="ifNo" style="visibility:hidden;">
    <form action="/gaps" method="POST" >
        <fieldset >
        <legend><strong>Add Gaps</strong></legend>
        {{ forms.render(gap_form) }}
        <!-- <p><input type="Submit" value="Save Gaps"></p> -->
        </fieldset>   
    </form>     
</div>
    
<center><p><input type="Submit" value="Submit" style='display:inline'>
    <input type="button" value="Refresh" style='display:inline'>
    <input type="button" value="Preview" style='display:inline'></p>  </center>

</fieldset> 
</form>
</div>
<div class='container' style='width:30%;max-height:100%;float:left;border:1px solid;overflow-y:scroll;border-color:maroon;padding:1%;background-color:azure'>  
        <pre id="json" style='display:block;padding-top:6%;;max-width:100%;height:100%;white-space:pre-wrap;'></pre><br><br><br><br><br><br><br><br>
</div>
<script type="text/javascript">
    function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifYes').style.visibility = 'visible';
        document.getElementById('ifNo').style.visibility='hidden';

    }
    else {document.getElementById('ifYes').style.visibility = 'hidden';
          document.getElementById('ifNo').style.visibility='visible';

    
    }

}
var obj = {"SectionTitle": "ETL Data into Warehouse Format (Kimball)",
"SectionContent": [
  {
    "ScenarioName": "Create warehouse tables",
    "Description": "Create the tables to store the warehouse data.",
    "Docs": [
      {
        "Name": "Overview of tables in SQL Data Warehouse",
        "Link": "https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-tables-overview"
      }
    ],
    "Gaps": []
  },
  {
    "ScenarioName": "Process raw data into warehouse with T-SQL",
    "Description": "Use T-SQL to process data from the work tables into the warehouse tables.",
    "Docs": [
      {
        "Name": "Design decisions and coding techniques for SQL Data Warehouse",
        "Link": "https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-overview-develop#development-recommendations-and-coding-techniques"
      }
    ],
    "Gaps": []
  }
]
};

 document.getElementById("json").innerHTML = JSON.stringify(obj, undefined, 2);



</script>
{% endblock content %}
